---
layout: default
permalink: /projects/
title: Projects
description: I made some things.
---
<h1 class="text-center">
  Projects
</h1>
<hr>
<div class="row">
  {% for project in site.categories.projects %}
    <div class="medium-4 columns">
      <div class="project-card">
        <div class="">
          <h5>{{ project.title }}</h5>
          <p class="project-blurb">
            {{ project.content | strip_html | truncatewords: 30}}
          </p>
          {% for tech in project.tech %}
            {% assign loopindex = forloop.index %}
            <a data-open="{{ tech }}{{ loopindex }}">
              <span data-tooltip aria-haspopup="true" class="has-tip top borderless" data-disable-hover="false" tabindex="{{ loopindex }}" title="{{ tech | capitalize }}">
                <img src="/img/software/{{ tech }}-medium.png" class="thumbnail" alt="{{ tech }}">
              </span>
            </a>
            <div class="reveal text-center" id="{{ tech }}{{ loopindex }}" data-reveal>
              <h1>{{ tech | capitalize }}</h1>
              <hr>
              <img src="/img/software/{{ tech }}.png" alt="{{ tech }}">
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {% endfor %}
          <!-- <img src="/img/software/elixir-lang-medium.png" class="thumbnail" alt="Elixir Lang"> -->
        </div>
        <div class="">
          <a href="{{ project.url }}" class="">VIEW</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
