<ul class="menu medium-6 columns show-for-medium">
  <li><a href="/">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Work</a></li>
  <li><a href="#">"Skills"</a></li>
</ul>
<ul class="menu medium-6 columns show-for-small-only">
  <li>
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="#"><i class="fa fa-code" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="#"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></a>
  </li>
</ul>
