<ul class="menu medium-6 columns show-for-medium">
  <li><a href="/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/projects/">Projects</a></li>
  <li><a href="/skills/">Skills</a></li>
</ul>
<ul class="menu medium-6 columns show-for-small-only">
  <li class="text-center">
    <a href="/">
      <i class="fa fa-home" aria-hidden="true"></i>
      <br>
      <small class="xs-font">Home</small>
    </a>
  </li>
  <li class="text-center">
    <a href="/about/">
      <i class="fa fa-user" aria-hidden="true"></i>
      <br>
      <small class="xs-font">About</small>
    </a>
  </li>
  <li class="text-center">
    <a href="/projects/">
      <i class="fa fa-code" aria-hidden="true"></i>
      <br>
      <small class="xs-font">Projects</small>
    </a>
  </li>
  <li class="text-center">
    <a href="/skills/">
      <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
      <br>
      <small class="xs-font">Skills</small>
    </a>
  </li>
</ul>
