<div class="medium-3 columns">
  <div class="row">
    <div class="show-for-medium medium-12 columns">
      <div class="thumbnail shadow-one">
        <img src="/img/tors_face.png">
      </div>
      <div class="shadow-one">
        <ul class="menu vertical">
          <li>
            <a href="https://torleif-nielsen.github.io">
              Torleif Nielsen
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-github fa-lg" aria-hidden="true"></i>Github
            </a>
          </li>
          <li>
            <a href="mailto:torleif@hawaii.edu">
              <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>torleif@hawaii.edu
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="show-for-small-only">
      <div class="row">
        <div class="small-8 columns">
          <div class="thumbnail">
            <img src="/img/tors_face.png">
          </div>
        </div>
        <div class="small-4 columns">
          <ul class="menu vertical">
            <li>
              <a href="https://torleif-nielsen.github.io">
                Tor
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="mailto:torleif@hawaii.edu">
                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
