<!doctype html>
<html class="no-js">
  {% include header.html %}
  <body>
    <!-- "wider" top-bar menu for 'medium' and up -->
    <div class="menu-wrapper">
      <div id="widemenu" class="menu-centered">
        <!-- <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><a href="/">{{ site.brand }}</a></li>
          </ul>
        </div> -->
        <!-- <div class="top-bar-right"> -->
          <ul class="menu">
            {% include nav.html %}
          </ul>
        <!-- </div> -->
      </div>
    </div>

    <div class="body-wrapper">

      {{ content }}
    </div>


    {% include footer.html %}
  </body>
</html>
